html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Sofia", sans-serif;
}
* {
    box-sizing: border-box;
    color: #777;
}
section.header{
    max-width: 1100px;
    background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    padding: 30px 20px;
    animation: change 5s ease-in-out infinite;
    vertical-align: middle;
    position: relative;
    margin: auto;
}
.header h1{
    color: #000000;
    padding: 0px;
    margin: 0;
    margin-left: 5vw;
    font-size: 4vw;
    animation: change 5s ease-in-out infinite;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 2vw;
    text-decoration: yellow;
    font-size: 2vw;
    line-height: 2.5vw;
    border-radius: 1vw;

}
.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background: linear-gradient(-45deg,#23D5AB,#23A6D5,#E73C73,#EE7752);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;

}

.header-right {
    float: right;
    margin-top: -6.5vw;
}

.payment{
    background: #f8f8f8;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #0d3c61;
}

.form .cardNumber{
    display: block;
    color: #555555;
    margin-bottom: 6px;
}

.input{
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
}

.pay-number{
    display: flex;
    justify-content: space-between;
}

.pay-item{
    width: 48%;
}

.sp{
    margin-bottom: 20px;
}

.icon-relative{
    position: relative;
}

.icon-relative .fas,
.icon-relative .far{
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
}

.btn{
    margin-top: 40px;
    background: #2196F3;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
}


.payment-logo{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 85px;
}

.payment-logo:before{
    content: "";
    position: absolute;
    right: -5%;
    width: 9vw;
    height: 9vw;
    background: #2196F3;
    border-radius: 50%;
}

.payment-logo p{
    position: relative;
    color: white;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 68px;
    margin-top:-13%;
}



@keyframes change {
    0% { background-position: 0 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0 50%;}

}

.full-footer-1 {
    position: relative;
    max-width: 1100px;
    right: -50%;
    margin-top: 6%;
    color: white;
    padding: .25em 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.full-footer-cont-1 {
    display: flex;
    align-items: center;
}

.full-footer-cont-1 ul {
    flex-grow: 1;
    text-align: end;
    margin-right: 11.2%;
}

.footer-nav-1 li {
    padding: 0 .5em;
}

.footer-nav-1 img {
    width: 30px;
    height: 30px;
}
.cont {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}


