* {
    box-sizing: border-box;
    color: #777;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Sofia", sans-serif;
}

section.header{
    max-width: 1100px;
    background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    padding: 30px 20px;
    animation: change 5s ease-in-out infinite;
    vertical-align: middle;
    position: relative;
    margin: auto;
}
.header h1{
    color: #000000;
    padding: 0px;
    margin: 0;
    margin-left: 5vw;
    font-size: 4vw;
    animation: change 5s ease-in-out infinite;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 2vw;
    text-decoration: yellow;
    font-size: 2vw;
    line-height: 2.5vw;
    border-radius: 1vw;

}
.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background: linear-gradient(-45deg,#23D5AB,#23A6D5,#E73C73,#EE7752);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;

}

.header-right {
    float: right;
    margin-top: -6.5vw;
}

.mySlides {display: none;}

img {vertical-align: middle;}

.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #FFFFFF;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.btn {
    position: absolute;
    top: 80%;
    left:75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: linear-gradient(-45deg,#23D5AB,#23A6D5,#E73C73,#EE7752);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: #FFFFFF;
    font-size: 3vw;
    padding: 1.5vw;
    border: 3px solid #FFFFFF;
    cursor: pointer;
    border-radius: 1vw;
    text-align: center;
}

.log-reg-btn{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: linear-gradient(-45deg,#23D5AB,#23A6D5,#E73C73,#EE7752);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: #FFFFFF;
    font-size: 3vw;
    padding: 1.5vw;
    border: 3px solid #FFFFFF;
    cursor: pointer;
    border-radius: 1vw;
    text-align: center;
}
.btn:hover {
    background-color: black;
}

.log-reg-btn:hover{
    background-color: black;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes change {
    0% { background-position: 0 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0 50%;}
}

.full-footer {
    position: relative;
    max-width: 1100px;
    right: -50%;
    margin-top: 3%;
    color: white;
    padding: .25em 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.full-footer-cont {
    display: flex;
    align-items: center;
}

.full-footer-cont ul {
    flex-grow: 1;
    text-align: end;
    margin-right: 11.2%;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}
.cont {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
