html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Sofia", sans-serif;
}
* {
    box-sizing: border-box;
    font-family: Sofia;
    color: #777;
}
section.header {
    max-width: 1100px;
    background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    padding: 30px 20px;
    animation: change 5s ease-in-out infinite;
    vertical-align: middle;
    position: relative;
    margin: auto;
}
.header h1{
    color: #000000;
    padding: 0px;
    margin: 0;
    margin-left: 5vw;
    font-size: 4vw;
    animation: change 5s ease-in-out infinite;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 2vw;
    text-decoration: yellow;
    font-size: 2vw;
    line-height: 2.5vw;
    border-radius: 1vw;

}
.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background: linear-gradient(-45deg,#23D5AB,#23A6D5,#E73C73,#EE7752);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;

}

.header-right {
    float: right;
    margin-top: -6.5vw;
}


.mySlides {display: none;}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #FFFFFF;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.btn:hover {
    background-color: black;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@keyframes change {
    0% { background-position: 0 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0 50%;}

}

.cont-sect {
    margin: 1em;
}

.cont {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.shop-item {
    margin: 30px;
}

.item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.item-image {
    height: 250px;
}

.item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn:hover {
    background-color: #2D9CDB;
}


/*quantity*/
.quantity {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}
.basket-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.basket-row{
    display: flex;

}

.basket-row:last-child {
    border-bottom: 1px solid black;
}

.basket-row:last-child .basket-column {
    border: none;
}
.basket-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.basket-item {
    width: 45%;
}

.basket-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.basket-quantity {
    width: 35%;
}

.basket-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.basket-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.basket-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.basket-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.basket-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.basket-total-price {
    color: #333;
    font-size: 1.1em;
}


.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/*footer+imag*/
.full-footer {
    position: relative;
    max-width: 1100px;
    right: -50%;
    margin-top: 4%;
    color: white;
    padding: .25em 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
}

.full-footer-cont {
    display: flex;
    align-items: center;
}

.full-footer-cont ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}
.cont {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}


.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
